////////////////////////////////////////////////////////////////////////////////
/// Transition speeds
////////////////////////////////////////////////////////////////////////////////

cui-dialog {
    transition: .25s all ease-in-out;
}

.cui-dialog--container.__hasBackground {
    transition: .25s all ease-in-out;
}

.cui-dialog {
    transition: .45s all ease-in-out;
}

////////////////////////////////////////////////////////////////////////////////
/// Closed STATE
////////////////////////////////////////////////////////////////////////////////
cui-dialog {
    opacity: 0;
    pointer-events:none;

    .cui-dialog {
        transform:translateY(-50px);
    }
}


////////////////////////////////////////////////////////////////////////////////
/// Open STATE
////////////////////////////////////////////////////////////////////////////////

cui-dialog.__isOpen {
    opacity: 1;
    pointer-events: auto;

    &.__isBackground {
        pointer-events:auto;
    }

    .cui-dialog {
        transform:translateY(0);
        pointer-events:auto;
    }
}