
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        min-height:100vh;
        background-image: url('https://source.unsplash.com/random');
        -webkit-background-size: cover;
        background-size: cover;
        display:flex;
        justify-content:center;
        align-content:center;
    }

    .bg {
        background-image: url("https://source.unsplash.com/random");
        background-position: center center;
        background-size: cover;
        filter: blur(50px);
        height: 50vh;
        left: 0;
        position: absolute;
        top: 25vh;
        width: 100%;
        z-index: -1;

        /* mix-blend-mode: soft-light; */
        opacity: 0.5;
    }


    button {
        font-size: 10vh;
        display: inline-block;
        font-family: Helvetica;
        background: none transparent;
        color: #fff;
        border:none 0 transparent;
        font-weight: bold;
        font-family: 'Pacifico';
        padding: 50px;
        text-shadow: 0 1px 3px rgba(0,0,0,.3);
    }