@keyframes cuiDialogNodeInserted {
    from {
        color: currentColor;
    }
    to {
        color: currentColor;
    }
}

cui-dialog {
    animation-duration: .001s;
    animation-name: cuiDialogNodeInserted;
}