////////////////////////////////////////////////////////////////////////////////
/// Closed STATE
////////////////////////////////////////////////////////////////////////////////
cui-dialog {
    opacity: 0;
    top: 100%;
}


////////////////////////////////////////////////////////////////////////////////
/// Open STATE
////////////////////////////////////////////////////////////////////////////////

cui-dialog.__isOpen {
    opacity: 1;
    top: 0%;
}