////////////////////////////////////////////////////////////////////////////////
/// Closed STATE
////////////////////////////////////////////////////////////////////////////////
cui-dialog {
    opacity: 0;
    pointer-events:none;
}


////////////////////////////////////////////////////////////////////////////////
/// Open STATE
////////////////////////////////////////////////////////////////////////////////

cui-dialog.__isOpen {
    opacity: 1;
    pointer-events: auto;
}